{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>


<link rel="icon" href="{{ '/images/apple-touch-icon_QW.ico' | relative_url }}" sizes="any">
<link rel="icon" type="image/png" href="{{ '/images/favicon-32x32_QW.png' | relative_url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/images/favicon-64x64_QW.png' | relative_url }}" sizes="64x64">
<link rel="icon" type="image/png" href="{{ '/images/android-chrome-192x192_QW.png' | relative_url }}" sizes="192x192">
<link rel="icon" type="image/png" href="{{ '/images/android-chrome-512x512_QW.png' | relative_url }}" sizes="512x512">

<link rel="apple-touch-icon" href="{{ '/images/apple-touch-icon_QW.png' | relative_url }}" sizes="any">

<!-- end custom head snippets -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7VCCR627PD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-7VCCR627PD');
</script>
